body {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#main-content {
    width: 80%;
    height: 100vh;
    background-color: #f2f2f2;
    overflow-y: auto;
}

#side-bar {
    width: 20%;
    height: 100vh;
    background-color: #d9d9d9;
    overflow-y: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}
#side-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#side-bar h3 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

#side-bar li {
    padding: 8px 16px;
}

#side-bar ul ul li {
    padding-left: 32px;
    cursor: pointer;
}
#side-bar ul ul li:hover{
    background-color: #ddd;  /* 鼠标悬停时的背景颜色 */
    color: #333;  /* 鼠标悬停时的字体颜色 */
}
#side-bar ul ul li:active {
    background-color: #bbb;  /* 鼠标点击时的背景颜色 */
    color: #111;  /* 鼠标点击时的字体颜色 */
}
#form-container {
    display: none;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#form-container label {
    display: block;
    margin: 10px 0;
}

#form-container input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

#form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}

#form-container button:hover {
    background-color: #45a049;
}